name: vertical_tab_bar_example
description: Example app for vertical_tab_bar package
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  vertical_tab_bar:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/brand/creator_logo.png
    - assets/brand/creator_logo_dark.png
